apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: observability
  labels:
    app: otel-collector
# processors: batch: Groups telemetry data into batches before sending to exporters.
# exporters: prometheus: otel-collector forward the metrics to 0.0.0.0:8889 then Prometheus scrapes this endpoint to collect metrics.
# service: Tie receivers, processors, and exporters together into pipelines
# we can add  endpoint: 0.0.0.0:4318 to otlp http,grpc if needed
data:
  otel-collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318

    processors:
      batch:

    exporters:
      prometheus:
        endpoint: "0.0.0.0:8889"

    service:
      pipelines:
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [prometheus]